@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}
a {
  color: black;
}

body {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: #222;
  color: #f1f1f1;
}
.container_intro {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #222;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.lien_nav {
  color: #f1f1f1;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 100;
}

.intro2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.text_intro,
.img_intro {
  width: 50%;
}

.text_intro p {
  width: 80%;
  margin: 0 auto;
  line-height: 35px;
}

.img_intro img {
  width: 100%;
}

.container_creations h2 {
  text-align: center;
  margin: 30px;
  margin-top: 40px;
  font-size: 40px;
}

.creations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: repeat(auto-fill, 360px);
}

.pc {
  /* margin-left: 200px; */
  margin: 30px auto;
  width: 400px;
  height: 250px;
  position: relative;
}

.pc img {
  width: 100%;
  height: auto;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: -10% 15px;
  cursor: pointer;
}

.pc1 img {
  background-image: url("images/cuisine.png");
}
.pc2 img {
  background-image: url("images/VE.png");
}
.pc3 img {
  background-image: url("images/todo.png");
}
.pc4 img {
  background-image: url("images/barpat.png");
}

.pc h3 {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
}

.pc:hover h3 {
  top: 40%;
  left: 63%;
  background-color: #f1f1f195;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  font-size: 40px;
  margin: 15px;
}
.contact p {
  font-size: 22px;
  width: 96%;
  margin: 0 auto 20px;
  text-align: center;
}
.contact a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 22px;
  border-radius: 3px;
  transition: all 0.25s;
}

.contact a:hover{
  color:black;
  background-color: #fff;
}

.coupure {
  border: 3px solid black;
  width: 100vw;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
}

footer{
padding: 0 0 10px;
display: flex;
align-items: center;
justify-content: start;
}
.text_footer{
margin: 15px 0;
}